<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fileupload in Node.js</title>
</head>
<body>
    <h1>File uploading</h1> <br>
        <!-- enctype etha en use pannurom na appotha namloda multer package work agum ila agathu  -->
    <form method="post" action="/upload" enctype="multipart/form-data">  
              <span>Upload Single File</span> <br>
              <input type="file" name="mypic" required> <br> <br>
              <input type="submit" value="submit">
    </form>
</body>
</html>