<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sending files in email</title>
</head>
<body>
    <h1>UPLOAD FILES IN BACKEND</h1>
    <form method="POST" action="/upload" >
        <span>Enter the Subject Here:</span>
        <input type="text" name="sub"> <br> <br>
        <span>Enter any Text here:</span>
        <textarea name="textarea"> </textarea><br> <br>
        <span>Upload Single File</span>
        <input type="file" name="mypic" required> <br> <br>
         
        
        <input type="submit" value="Sent">
    </form>
</body>
</html>

<!-- enctype="multipart/form-data" -->